
    import bool GetHasArchetypeRefPatch() from "Editor";
    import void SetHasArchetypeRefPatch(bool value) from "Editor";
    import bool GetHasArchetypeRefPatchSiteFound() from "Editor";
    import bool GetAllowCrossTreeFidRefsPatch() from "Editor";
    import void SetAllowCrossTreeFidRefsPatch(bool value) from "Editor";
    import bool GetAllowCrossTreeFidRefsPatchSiteFound() from "Editor";